In [2]:
import json

In [3]:
with open("files/sample-1M.jsonl", "r") as f:
    data = f.readlines()

In [4]:
# convert json lines to json
data = [json.loads(line) for line in data]

In [5]:
# create a data frame
import pandas as pd
df = pd.DataFrame(data)
df.head()

,id,content,title,media-type,source,published
0,f7ca322d-c3e8-40d2-841f-9d7250ac72ca,VETERANS saluted Worcester's first ever breakf...,Worcester breakfast club for veterans gives hu...,News,Redditch Advertiser,2015-09-07T10:16:14Z
1,609772bc-0672-4db5-8516-4c025cfd54ca,New Product Gives Marketers Access to Real Key...,Jumpshot Gives Marketers Renewed Visibility In...,News,Virtualization Conference & Expo,2015-09-17T15:00:00Z
2,1aa9d1b0-e6ba-4a48-ad0c-66552d896aac,Home »\rStyle » The Return Of The Nike Air Max...,The Return Of The Nike Air Max Sensation Has 8...,Blog,Streets Connect,2015-09-22T22:54:37Z
3,719699f9-47be-4bc7-969b-b53a881c95ae,NYMag.com Daily Intelligencer Vulture The Cut ...,This New Dating App Will Ruin Your Internet Game,Blog,The Cut,2015-09-16T23:12:11Z
4,a080f99a-07d9-47d1-8244-26a540017b7a,"KUALA LUMPUR, Sept 15 (MySinchew) -- The Kuala...",Pay up or face legal action: DBKL,News,My Sinchew,2015-09-15T10:17:53Z

In [6]:
# sort by date
df = df.sort_values(by="published", ascending=False)

In [7]:
df.head()

,id,content,title,media-type,source,published
301009,778f48f8-e530-4636-986c-478ef06d1474,A 38-year-old man is in a West Australian hosp...,"WA man tries to ram police, firefighters",News,Countryman,2015-09-30T23:59:38Z
104966,261887d5-39e8-4948-aae0-5256ad069dd8,Hundreds of nurses rallied outside an Abbotsfo...,Nurses protest layoffs at Abbotsford care home,News,Metro Canada,2015-09-30T23:59:36Z
472021,8114f1ff-5227-42d6-951b-30a7490c0b12,The TEAM raises awareness and money for Specia...,TEAM Special Ops Survivors to Honor Four Falle...,News,Times Union,2015-09-30T23:59:36Z
35007,da3913d3-782a-4c9c-858d-ed393a138147,The University of Canberra has cracked a spot ...,Rank and profile as UC moves into the big league,News,Melbourne Age,2015-09-30T23:59:32Z
689610,95044056-bf82-4eb4-a921-2b146f6f573f,SOURCE ReportBuyer\n\nLONDON \n\nTo view the o...,Potassium Metabisulfite Market by Application ...,News,19 Action News,2015-09-30T23:59:15Z

In [8]:
# sleleact all rows with published date on 2015-09-30
df_day = df[df["published"].str.startswith("2015-09-30")]

In [10]:
df_day["source"].value_counts()

source
MyInforms                              773
Individual.com                         287
4 Traders                              262
Reuters                                220
Financial Content                      212
                                      ...
Parents.com                              1
bifuteki                                 1
Latest topics for ZDNet in Hardware      1
Kingdom Revelations -                    1
Expatica France                          1
Name: count, Length: 13063, dtype: int64

In [9]:
df_financial = df_day[df_day["source"] == "Financial Content"]

In [52]:
df

KeyboardInterrupt